.nav-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.img-fluid {
  max-width: 100%;
}

#logo {
  width: 200px;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.words {
  text-align: center;

}

h1 {
  font-weight: bold;
  font-size: 25px;
}

p {
  font-size: 15px;
  line-height: 30px;
}

#footerWords {
  font-size: 20px;
}